################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/consoleapp2.metadata.v8.bin
/.vs/ProjectEvaluation/consoleapp2.projects.v8.bin
/.vs/ConsoleApp2/DesignTimeBuild/.dtbcache.v2
/.vs/ConsoleApp2/FileContentIndex/52387989-aa78-459b-bbdf-ebf5d830bac4.vsidx
/.vs/ConsoleApp2/FileContentIndex/f4c02b2f-1a3a-4e57-9c5e-08cecc362c70.vsidx
/.vs/ConsoleApp2/FileContentIndex/read.lock
